/* @font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
} */

* {
    margin: 0;
    padding: 0;
    font-family: "Amaranth", sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
/* body {
    color: #000; 
    background: #000;
} */
#cursor{
    height: 20px;
    width: 20px;
    background-color: yellow;
    border-radius: 50%;
    position: fixed;
    /* transform: translate3d(1049px, 217px, 0px); */
    -webkit-box-align: center;
    -webkit-box-pack: center;
    mix-blend-mode: difference;
    z-index: 201;
    /* transition: all ease-in-out ; */
}
#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: rgba(150, 193, 30, 0.3);
    border-radius: 50%;
    position: fixed;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    filter: blur(80px);
    z-index: 99;
    /* transition: all linear 0.4s; */
}
/* HEADER */
#header {
    color: #fff;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(180deg, rgba(0,0,0,0.8660714285714286) 0%, rgba(0,0,0,0.583158263305322) 100%, rgba(0,212,255,1) 100%), 
    url(./images/bg.jpg);
    background-size: cover;
}

.container {
    padding: 10px 10%;
}
.nav{
    position: fixed;
    width: 100%;
    padding: 0.8% 10%;    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    font-size: 1.5rem;
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: normal;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 15%;
    font-size: 30px;
    width: 50%;
}

.header-text h1 {
    font-size: 90px;
}

.header-text h1 span {
    color: #ff004f;
}


.hero{
    display: flex;
    justify-content: center;
}
.hero-right{
    padding: 5% ;
}
.hero-right img{
    height: 350px;
    width: 350px;
}

/* ABOUT */
#about{
    padding: 80px;
    background-color: #ffeeec;
    color: #bc6941;
}
.about-container{
    width: 100%;
    padding: 30px 30px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;

}
.sub-title{
    font-size: 60px;
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #da2d28;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #bc6941;
    font-size: 14px;
    font-weight: 600;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*Skills Section */
#skills{
    background-color: #ffeeec;
}
.wrapper{
    margin: 5% 25%;
    width: 50%;
    position: relative;
}

.skills:not(:last-child){
    margin-bottom: 30px;
}
.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
    border: 2px solid #bc6941;
    border-radius: 20px;
}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #bc6941;
}
#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill{
    100%{
        width: 90%;
    }
}
#react-bar{
    animation: react-fill 2s forwards;
}
@keyframes react-fill{
    100%{
        width: 85%;
    }
}
#tailwind-bar{
    animation: tailwind-fill 2s forwards;
}
@keyframes tailwind-fill {
    100%{
        width: 80%;
    }
}
#node-bar{
    animation: node-fill 2s forwards;
}
@keyframes node-fill{
    100%{
        width: 80%;
    }
} 
#next-bar{
    animation: next-fill 2s forwards;
}
@keyframes next-fill{
    100%{
        width: 75%;
    }
} 
/* SERVICES SECTION */

#sevices{
    background-color: #ffeeec;
    padding: 30px 0;
}
.services-list{
    color: #c1ca6d;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: #371c1c;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i
{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div p{
    font-size: 15px;
    font-weight: 400;
}
.tech-logo{
    height: 250px;
    width: 250px;
    
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/* PORTFOLIO SECTION */
#portfolio{
    padding: 50px 0;
    background-color: #ffeeec;
    
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #CA786D;
    background: transparent;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    transition: background 0.5s;

}
.btn:hover{
    background: #CA786D;
}

/* Contact Section */
.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{color: black;
margin-right: 15px;
font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3)); 
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #da2d28;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn-2{
    display: inline-block;
}

.contact-right{
    flex-basis: 60%;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #ffeeec;
    padding: 15px;
    margin: 15px 0;
    color: #ff004f;
    font-size: 18px;
    border-radius: 6px;
}
form .btn-2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #ffeeec;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}

/* --------------------------------CSS for  small screens-------------------------------- */

nav .fas{
    display: none;
}
@media only screen and (max-width: 1200px){
    .nav{
        padding: 1% 10%;
    }
    .header-text{
        margin-top: 25%;
    }
}

@media only screen and (max-width: 980px){
    #header{
        background-image: linear-gradient(180deg, rgba(0,0,0,0.8660714285714286) 0%, rgba(0,0,0,0.583158263305322) 100%, rgba(0,212,255,1) 100%),url(images/bg.jpg);
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #da2d28;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .hero-right{
        display: none;
    }
    .header-text{
        margin-top: 13rem;
        height: 100%;
        width: 100%;
    }
    .contact-left{
        flex-basis: 40%;
    }
    .contact-right{
        flex-basis: 55%;
    }
}

@media only screen and (max-width: 740px){
    .about-col-1 img{
        height: 10rem;
        width: 100%;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
    }
    .wrapper{
        margin: 5% 20%;
    }
}

@media only screen and (max-width: 600px){
    #header{
        background-image: linear-gradient(180deg, rgba(0,0,0,0.8660714285714286) 0%, rgba(0,0,0,0.583158263305322) 100%, rgba(0,212,255,1) 100%),url(images/bg.jpg);
    }
    .header-text{
        margin-top: 20rem;
        font-size: 16px;   
    }
    .header-text h1{
        font-size: 30px;
    }
    .sub-title{
        font-size: 40px;
    }
    #about{
        padding: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        margin-right: 30px;
    }
    .wrapper{
        width: 75%;
        margin: 5% 10%;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
@media only screen and (max-width:420px) {
    #about{
        padding: 20px;
    }
    .tab-titles{
        flex-direction: column;
    }
    .tab-links{
        width: fit-content;
        margin: 5px;
    }
}
